form{
    padding: 30px;
    height: 100%;
    margin-top: 30px;
    text-align: center;
    border-style: solid;
    border-radius: 10px;

}

#login{
    width: 100%;
}

.container{
    
    justify-items: center;
    padding: 10px;
}

.alert{
    display: none;
}